{
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "semi": true,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
